.wrapper {
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-fluid h2 {
  font-size: 1.5em;
}

.container-fluid section > ul > li {
  color: tomato;
}

@media (min-width: 768px) {
  .panel-footer {
    margin-top: 36px;
  }
}
